VITE_GOOGLE_WEB_CLIENT_ID=123456789012-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com
VITE_TEACHER_APP_URL=https://teacher.ledgrclasses.com/
VITE_ADMIN_APP_URL=https://admin.ledgrclasses.com/
VITE_MANAGER_APP_URL=https://manager.ledgrclasses.com/
ENABLE_SCHEDULED_JOBS=false
