rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{uid}/appdata/{doc} {
      allow read:  if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isSignedIn() && request.auth.uid == uid;
    }

    match /roles/{uid} {
      allow read:   if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow create: if isSignedIn() && request.auth.uid == uid;
      allow update: if isAdmin() || request.auth.uid == uid;
    }

    match /teachers/{uid} {
      allow read:  if isSignedIn();
      allow write: if isSignedIn() && (request.auth.uid == uid || isAdmin());
    }

    match /config/{doc} {
      allow read:  if isSignedIn();
      allow write: if isAdmin();
    }

    match /invites/{token} {
      allow read:   if isSignedIn();
      allow create: if isAdmin();
      allow update: if isSignedIn();
    }
  }
}
